$font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-header: 'Montserrat', Helvetica, Arial, sans-serif;

$color-blue: rgb(20, 80, 210);
$color-blue-light: rgb(137, 190, 250);
$color-blue-dark: rgb(9, 43, 115);

$color-white: rgb(255, 255, 255);
$color-black: rgb(30, 30, 30);

$color-grey-v-light: lighten($color-black, 85%);
$color-grey-light: lighten($color-black, 80%);
$color-grey: lighten($color-black, 50%);
$color-grey-dark: lighten($color-black, 20%);
$color-grey-v-dark: lighten($color-black, 15%);

$cubic-bezier: cubic-bezier(0.4, 0.0, 0.2, 1);
$hover-transition: all 0.25s $cubic-bezier;

body {
  margin: 0 auto;
  padding: 0;
  font-size: 62.5%;
  font-family: $font-body;
  transition: all 0.5s $cubic-bezier;
}

body, html, #root, .app {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.4em;
  margin: 0.5em 0;
}

h2 {
  font-size: 2em;
  margin: 0.5em 0;
}

h3 {
  font-size: 1.8em;
  margin: 0.5em 0;
}

h4 {
  font-size: 1.6em;
  margin: 0.4em 0;
}

h5 {
  font-size: 1.4em;
  margin: 0.4em 0;
}

h6, p, ul li {
  font-size: 1.3em;
  margin: 0.5em 0;
}

